.info-small-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info-small-container h2 {
  font-size: 25px;
  padding: 30px;
  margin-top: 50px;
}

.info-small-container p {
  font-size: 16px;
  padding: 25px;
  
}

@media only screen and (min-width: 800px) {
  .info-small-container p {
    width: 750px;
    font-size: 20px;
  }

  .info-small-container h2 {
    font-size: 39px;
    width: 750px;
  }
}
