.info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.info-container h1 {
  font-size: 32px;
  padding: 10px;
}

.info-container p {
  font-size: 16px;
  padding: 10px;
}

@media only screen and (min-width: 800px) {
  .info-container p {
    width: 750px;
    font-size: 20px;
  }

  .info-container h1 {
    font-size: 40px;
    width: 750px;
  }
}
