.alumni-img {
  border-radius: 38% 62% 54% 46% / 39% 60% 40% 61%;
  width: 70% !important;
}
.alumni-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 80px;
  text-align: left;
}
.alumni-container h3 {
  padding:  40px 40px  20px 40px;
  font-size: 20px;
}
.alumni-container p {
  font-size: 16px;
}
@media only screen and (min-width: 800px) {
  .alumni-container {
    flex-direction: row;
  }

  .alumni-img {
    width: 30% !important;
  }
  .alumni-container h3 {
    width: 436px;
    font-size: 25px;
  }
  .alumni-container p {
    align-self: end;
    padding-bottom: 10%;
    font-size: 20px;
  }
}
