.ansok-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.ansok-container p{
    padding: 10px 30px;
}

.ansok-container a{
    font-family:"Poppins";
    border: none;
    background-color: #E66E6D;
    color:white;
    font-weight: bold;
    text-decoration: none;
    padding:15px;
    border-radius:45%;
    margin-bottom:25px;
    cursor: pointer;
    font-size:16px;
    margin-top:25px;
}

.ansok-container a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 800px) {
    .ansok-container p {
        padding:10px 346px;
        text-align:justify;
    }
  }